#projects {
  width: 100%;
  height: 150vh;
  background: #000;
}

.containerProjects {
  width: 100vw;
  height: 100vh;
}

.titleProjects {
  position: relative;
  text-align: center;
  font-size: 10rem;
  z-index: 0;
  color: white;
}

.contentCard {
  position: relative;
  justify-self: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
  flex-wrap: wrap;
}

.imgProject {
  border-radius: 10px;
  background: white;
  width: 400px;
  height: 200px;
  z-index: 1;
  cursor: no-drop;
}

.imgProject h1{
  position: relative;
  top: 40%;
  text-align: center;
}

@media (max-width: 700px) {
  .titleProjects {
    font-size: 5rem;
  }

  .card {
  display: flex;
  flex-direction: column;
  }

  .imgProject {
    width: 240px;
    height: 140px;
  }

  .card {
    gap: 100px;
  }
  
  .imgProject h1 {
    font-size: 1rem;
  }
}
