#about {
  width: 100%;
  min-height: calc(var(--vh) * 100);
  /* background: #000; */
}

.content {
  overflow-x: hidden;
}

.container {
  display: flex;
  width: fit-content;
}

.contentAbout {
  width: auto;
  height: calc(var(--vh) * 100);
  background: #000;
}

.box1 {
  width: 100vw;
  height: calc(var(--vh) * 100);
  color: black;
}

.box2 {
  width: 100vw;
  height: calc(var(--vh) * 100);
  background-color: white;
  overflow: hidden;
}

.titleAbout {
  padding-top: 10%;
  text-align: center;
  color: white;
  font-size: 6vw;
  margin-bottom: 4%;
}

.infoAbout {
  color: white;
  justify-self: center;
  width: 80vw;
  font-size: 3vw;
}

/* === box 1 === */

.textAnimate {
  position: relative;
  top: 12rem;
  left: 8rem;
  width: 35vw;
}

.textAnimate h1:nth-child(1) {
  position: relative;
  top: 0.5rem;
  background: var(--gold);
  width: 21.6rem;
  padding: 0.5rem;
  border-radius: 10px;
}
.textAnimate h1:nth-child(2) {
  margin-left: 1.5rem;
  background: var(--batengan);
  width: 30rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.box1 h2 {
  position: relative;
  left: 8rem;
  top: 15rem;
  width: 45vw;
}

/* ===box2=== */

.horizontalText {
  position: relative;
  top: 25%;
  text-align: center;
  font-size: 3.5vw;
  width: 85vw;
  /* background: #000; */
  justify-self: center;
}

.containerImge {
  position: relative;
  justify-self: end;
  right: 10rem;
  top: 25rem;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.containerImge img {
  position: absolute;
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.wordHorizonral2 {
  font-size: 2rem;
}

.wordHorizonral3 {
  position: relative;
  right: 5rem;
  top: -3rem;
  transform: rotate(15deg);
}

.wordHorizonral4,
.wordHorizonral5,
.wordHorizonral6,
.wordHorizonral7 {
  position: relative;
  right: 5rem;
}
.wordHorizonral1,
.wordHorizonral3 {
  background: var(--gold);
  border-radius: 10px;
}

.wordHorizonral12,
.wordHorizonral13,
.wordHorizonral15,
.wordHorizonral16 {
  background: var(--gold);
  border-radius: 10px;
}

.wordHorizonral17,
.wordHorizonral18 {
  background: var(--gold);
  border-radius: 10px;
}

.wordHorizonral18 {
  position: relative;
  top: -1rem;
  transform: rotate(15deg);
}

@media (min-width: 701px) and (max-width: 1366px) {
  .titleAbout {
    font-size: 20vw;
  }
  .infoAbout {
    width: 90vw;
    font-size: 5vw;
  }
  .containerImge {
    width: 250px;
    height: 350px;
    justify-self: end;
    right: 1rem;
  }
  .textAnimate {
    justify-self: start;
    left: 1rem;
  }

  .box1 h2 {
    position: relative;
    left: 3rem;
    width: 55vw;
  }

  .horizontalText {
    font-size: 6vw;
    width: 85vw;
  }

  .wordHorizonral18 {
    top: 0.1rem;
    transform: rotate(0deg);
  }
}

@media (max-width: 700px) {
  .container {
    display: block;
    width: 100%;
  }

  .titleAbout {
    font-size: 18vw;
  }

  .infoAbout {
    width: 80vw;
    font-size: 8vw;
  }

  .textAnimate {
    top: 5rem;
    left: 0;
    justify-self: center;
  }

  .box1 h2 {
    top: 7rem;
  }

  .textAnimate h1:nth-child(1) {
    font-size: 1.2rem;
    text-align: center;
    justify-self: center;
    width: 70vw;
  }

  .textAnimate h1:nth-child(2) {
    justify-self: center;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    width: 85vw;
  }

  .box1 h2 {
    justify-self: center;
    left: 0;
    font-size: 1rem;
    text-align: center;
    width: 85vw;
  }

  .horizontalText {
    font-size: 7vw;
    width: 85vw;
  }
  .containerImge {
    justify-self: center;
    top: 90%;
    right: 0;
    width: 300px;
    height: 350px;
  }
  .content {
    overflow: hidden;
  }
}
