#footer {
    min-height: 80vh;
    width: 100%;
    background: #000;
}

.btn-footer {
    position: relative;
    top: 10rem;
    left: 50%;
    transform: translate(-50% , -50%);
    border: none;
    padding: 1rem 2rem;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.content-footer h1 {
    position: relative;
    top: 13rem;
    font-size: 9.5vw;
    color: white;
    cursor: crosshair;
}

.btn-footer a {
    text-decoration: none;
    color: #000;
}